
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p { word-spacing: .5em; }
body {
    margin: 0;
    line-height: 1.2em; 
    font-size: 1em ;
    text-align: justify;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
  }

.container {
    max-width: 60rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
  }

img { 

    border-radius: 6px;
    padding-top: 15px;
    max-width: 100%;
    height: auto;
}

.btn {
    background: rgb(228, 32, 32);
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 6px;
  }

  div {
    padding: 2em;
  }
